[MAIN]

# storage type:
# supported storages: scp

# [scp]
# This storage assumes you have configured web server, which will server
# uploaded files, and passwordless scp connection
storage = scp

# to log or not to log:
# 0 - disabled
# 1 - enabled
log = 0
# you can set error log path, default: '/tmp/mysu.log'
logfile = /tmp/mysu.log

# clipboard option
#  primary: paste with mouse wheel, default
#  clipboard: paste with ctrl+v
clipboard = primary

# [scp]
# to use this type you need to specify the following values:
# host = hostname or ip address of storage server
# path = directory to store uploaded files
# url = base url (without actual filename) at which the file will be available

[scp]
host = example.org
path = /var/www/public/
url = http://example.org/public/

# [openstack]
# version 1.0
# to use this type you need to specify the following values:
api_host = http://example.org/
user = test_user
key = ExampleKey
container = public
# way to detect filetype:
#  file - through call of system utility 'file'
#  magic - by using python's libmagic, which depends on systems libmagic
typer = file
